.button-viewform {
    font-size: x-large;
    font-family: inherit;
    width: 100%;
    margin: 0.5em 0;
    outline: none;
    padding: 1em;
    border-radius: 20px;
    text-transform: uppercase;
    box-sizing: border-box;
    border: none;
    background-color: #f73;
    color: white;
    max-width: 280px;
    font-weight: 900;
}
.div-viewform{
    margin:5px;
}

body {
    margin: 0;
    background-color: #052d40;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-image: linear-gradient(180deg,#052d40,rgba(14,90,136,.8901960784313725),#052d40),url(../images/bg01.gif);
    background-size: auto;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover !important;
    color: #fff;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
