
@media print {
    @page {
        margin: 0.1cm;
    }

    body {
        -webkit-print-color-adjust: exact;
        color-adjust: exact;
    }
}

html {
    background-color: #FFFFFF;
    margin: 0px; /* this affects the margin on the html before sending to printer */
}

body {
    margin: 0mm; /* margin you want for the content */
}
