table {
    border: 1px solid black;
}

th,td {
    border: 1px solid black;
    width: 100px;
    overflow: hidden;
    padding:5px;
}

.tbldate{
    border:none;
}
.tbldate tr td {
    border: none;
}

.f-money{
    text-align:right;
}

.report-title{
    font-weight:800;
    font-size:xx-large;
}

.date-textbox{
    padding:5px;
    border-radius:10px;
}
.report-title-date {
    font-weight: bold;
    font-size: x-large;
}
.report-row{
    padding:5px;
}
.row-caption{
    color:gray;
}
.row-value{
    float:right;
    font-weight:bold;
}
.report-panel{
    max-width:600px;
}

.div-date-caption{
    padding:5px;
}
.date-caption {
    width: 80px;
    float: left;
    padding: 5px;
}
.button-preview{
    padding:5px;
    border-radius:10px;
    margin-left:5px;
}