
.receipt {
    padding: 5px;
}

.tbl-result tr td {
    width: 40px;
    text-align: center;
}

.div-qrcode {
    text-align: center;
}
.div-confirm{

}
.confirm-popup-title{
    font-weight:bold;
    text-align:center;
    padding:20px;
    color:black;
}
.div-confirm-action{
    text-align:center;
}
.span-confirm-action{
    margin:5px;
}


body {
    margin: 0;
    background-color: #052d40;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-image: linear-gradient(180deg,#052d40,rgba(14,90,136,.8901960784313725),#052d40),url(../images/bg01.gif);
    background-size: auto;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover !important;
    color: #fff;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.div-scan-lost {
    text-align: center;
    color: #f73;
    font-size: xxx-large;

}
.button-withdrawal {
    padding: 10px;
    border-radius: 15px;
    background-color: #f73;
    font-weight: bold;
    color: white;
    font-size: x-large;
}