.userlist-title{
    margin-top:20px;
    padding:5px;
    font-weight:bold;
}





.tbldate {
    border: none;
}

    .tbldate tr td {
        border: none;
        text-align:center;
    }


.div-input-text{
    width:120px;
}

.div-user {
    padding: 5px;
    border: solid 1px gray;
    margin: 5px 0px;
}

.button-add {
    padding: 10px;
    border-radius: 15px;
    background-color: white;
    font-weight: bold;
    border: solid 1px gray;
    margin-right: 10px;
}


body {
    margin: 0;
    background-color: #052d40;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-image: linear-gradient(180deg,#052d40,rgba(14,90,136,.8901960784313725),#052d40),url(../images/bg01.gif) !important;
    background-size: auto;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover !important;
    color: #fff;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.div-field-caption {
    padding: 5px;
}
.field-caption {
    width: 80px;
    float: left;
    padding: 5px;
}
.textbox {
    padding: 5px;
    border-radius: 10px;
}
.span-locked{
    color:red;
}