.userlist-title{
    margin-top:20px;
    padding:5px;
    font-weight:bold;
}

table {
    border: 1px solid black;
}

th, td {
    border: 1px solid black;
    width: 100px;
    overflow: hidden;
    padding: 5px;
}

.tbldate {
    border: none;
}

    .tbldate tr td {
        border: none;
        text-align:center;
    }


.div-input-text{
    width:120px;
}

.div-user {
    padding: 5px;
    border: solid 1px gray;
    margin: 5px 0px;
}

.button-add {
    padding: 10px;
    border-radius: 15px;
    background-color: white;
    font-weight: bold;
    border: solid 1px gray;
    margin-right: 10px;
}