@page
@model SignalR.Pages.appModel
@{
}
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script>

    $(document).ready(function () {
        window.location="https://drive.google.com/file/d/1rpPyr2g8p82fC3cEXVLy-I2-QJ1LXutK/view?usp=sharing";
});
</script>

<div style="text-align:center;">
<div><img src="/images/waiting.gif" style="height:100px;" /></div>
       <div style="color:white">Please wait...</div>
</div>