@page
@model SignalR.Pages.betnowModel
@{
}

<script src="~/js/signalr/dist/browser/signalr.js"></script>


<script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="js/betnow.js"></script>

<div class="div-container">
     <input id="hdGameID" type="hidden" value="0" />
     <input id="hdBetType" type="hidden" value="number" />
     
     <input type="hidden" value="" id="hdUsername" />
<div>
    <table style="width:100%">
        <tr>
            <td><div id="div_GameID" class="div-gameid"></div></td>
            <td><div id="div_credit" class="div-credit"></div></td>
        </tr>
    </table>
</div>
<div id="div_betamount" class="bet-amount">
    <table style="width:100%">
        <tr>
            <td>
                <table>
                    <tr>
                        <td><span>ទឹកប្រាក់ភ្នាល់:</span>
                           
                        </td>
                        <td>
                             <div id="betAmount" class="span-betamount" onclick="show_betamount()">
                                0R
                            </div>  
                        </td>
                    </tr>
                </table>
            </td>
            <td>
                <div id="div_time" class="div-time"></div>  
            </td>
        </tr>
    </table>
        
</div>
<div id="div_bettype">
    <span id="btype_number"​ class="bet-type" onclick="bettype('number')">លេខ</span><span id="btype_row"​ class="bet-type" onclick="bettype('row')">ចាក់អូសជួរដេក</span><span id="btype_colum"​ class="bet-type" onclick="bettype('colum')">ចាក់អូសជួរឈរ</span>
</div>​
 <div class="div-slot">
                <input type="hidden" id="hdSlot" value='{"slotA":"inactive","slotB":"inactive","slotC":"inactive","slotD":"inactive","slotE":"inactive"}' />
                <div id='spanA' class="Slot-letter round-small-slot" onclick="select_slot('A')">A</div>
                <div id='spanB' class="Slot-letter round-small-slot" onclick="select_slot('B')">B</div>
                <div id='spanC' class="Slot-letter round-small-slot" onclick="select_slot('C')">C</div>
                <div id='spanD' class="Slot-letter round-small-slot" onclick="select_slot('D')">D</div>
                <div id='spanE' class="Slot-letter round-small-slot" onclick="select_slot('E')">E</div>
</div>
<div id="div_betnumber">
    
</div>

<div class="footer">
    <table style="width:100%">
        <tr>
            <td>
                <div class="div-total">សរុប</div>
            </td>
            <td>
            </td>
            <td>
                <div style="text-align:right;">
                <span id="btnSubmit"​ style="width: 130px;text-align:center;float: right;" class="action-button active" onclick="print()">បញ្ជូន</span>
                <span id="btnDelete"​ style="width: 100px;text-align:center;float: right;" class="action-button" onclick="cancel()">លុប</span>
                </div>
            </td>
        </tr>
    </table>
</div>

</div>


<link href="~/css/betnow.css?v=2" rel="stylesheet" />