@page
@model SignalR.Pages.printModel
@{
}


<div id="div_receipt" style="width:auto">

</div>
<div  style="text-align:center;width:auto;margin-bottom:20px;"><img id="imgqr" src="" style="height:80px;" /></div>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="~/js/print.js"></script>

<link href="~/css/mycss.css?v=2" rel="stylesheet" />
<link href="~/css/display.css" rel="stylesheet" />
<link href="~/css/print.css" rel="stylesheet" />