@page
@model SignalR.Pages.ReportModel
@{
    ViewData["Title"] = "Report page";
}

    <script src="js/jquery.min-3.1.1.js"></script>   
@*<script src="js/jquery.min-2.1.3.js"></script>*@
<script src="js/report.js?v=5"></script>
<script src="https://kit.fontawesome.com/7603579037.js" crossorigin="anonymous"></script>
<link href="~/css/report.css?v=3" rel="stylesheet" />

 <link href='~/css/jquery-ui.css'   rel='stylesheet'>
      
   
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/public.js"></script>
<style>
    
</style>
<div>   
    <input type="hidden" value="Under Sale" id="hdReportName" />
     <input type="hidden" value="" id="hdUsername" />
        <div style="text-align:left;margin: 25px 0px;"><a href="#" onclick="backhome()" style="background-color: white;  padding: 10px; border-radius: 10px;"><i class="fas fa-home" aria-hidden="true"></i></a></div>

    <div style="height: 50px;">
        <div class="Report-Header" onclick="selectreport('Under Sale')">Under Sale</div>
        <div class="Report-Header" onclick="selectreport('Balance')">Balance</div>
    </div>
    <div>
                <div  class="div-date-caption"><div class="date-caption">ចាប់ពីថ្ងៃ:</div><span><input class="date-textbox" type="text" id="txtstartdate" onchange="preview()"></span></div>
                <div  class="div-date-caption"><div class="date-caption">ដល់ថ្ងៃ:</div><span><input  class="date-textbox" type="text" id="txtenddate" onchange="preview()"></span></div>

    <div id="div_report">

    </div>

    <script>
        $(document).ready(function() {
          
            $(function() {
                $("#txtstartdate").datepicker(
                {
                    dateFormat: 'dd-mm-yy'
                });
                 $("#txtenddate").datepicker(
                 {
                    dateFormat: 'dd-mm-yy'
                 });
            });
        })
    </script>

    </div>
