@page
@model SignalR.Pages.resultModel
@{
}

<script src="~/js/signalr/dist/browser/signalr.js?v=9"></script>


<script type="text/javascript" src="js/jquery-1.11.0.min.js?v=9"></script>
<script type="text/javascript" src="js/result.js?v=1"></script>
<link href="~/css/changeful.css?v=1" rel="stylesheet" />

<div id="div_result_list" class="recent-list">
				

			
</div>
