@page
@model SignalR.Pages.resultModel
@{
}

<script src="~/js/signalr/dist/browser/signalr.js?v=9"></script>


<script type="text/javascript" src="js/jquery-1.11.0.min.js?v=9"></script>
<script type="text/javascript" src="js/result.js?v=1"></script>
<script type="text/javascript" src="js/public.js"></script>
<link href="~/css/result.css?v=1" rel="stylesheet" />


<div style="text-align:left;margin-bottom: 25px;margin-top: 25px;">
           <span onclick="backhome()" style="background-color: white;  padding: 10px; border-radius: 10px;color: #f73;"><i class="fas fa-home"></i></span>
       
           </div>
       
<div id="div_result_list" class="recent-list">
				

			
</div>
