@page
@model SignalR.Pages.ScanResultModel
@{
    ViewData["Title"] = "Home page";
}


<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>


<script src="js/scanresult.js"></script>
<link href="~/css/betting.css" rel="stylesheet" />
<link href="~/css/mycss.css" rel="stylesheet" />

<style>
    .receipt{
        padding:5px;
       background-color:white;
    }
    .tbl-result tr td{
        width:40px;
        text-align:center;
    }
    
</style>
<div class="div-container">  
    <div class="login" id="div_login">
        <div style="text-align:left;"><a href="login"><i class="fas fa-home"></i>Home</a></div>
             <div style="font-size:xx-large;display:none;">
            <img src='images/CamLotto.png' style='width:150px;'>
            <span class="logo-title" ><span style="color:black;">CAM</span><span style="color:#c67819"> LOTTO</span> <br></span>
            </div>
            <div class="div-user">
            <div class="div-username">Receipt Code:</div> <input type="text" class="div-input-text" id="txt_code" />
            </div>
           
            

            <div id="div_result" class="receipt" style="display:none;">

            </div>
        </div>

</div>
