@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<script src="js/jquery.min-2.1.3.js"></script>
    <script src="js/dom-to-image.js"></script>
    <script src="js/ACECertificate.js?v=28"></script>

 <script src="js/jspdf.min.js"></script>
<script src="https://kit.fontawesome.com/7603579037.js" crossorigin="anonymous"></script>



<div>   
    <input type="button" value="download" onclick="saveasimage()" />
    
    
    <div>
        <img id="imgfile" src="" style="width:100px" />
        <div>
            FileName:
            <input type="text" value="" id="txtfilename" style="width:100%" />
        </div>

        <div>
            Icon html:
            <input type="text" value="" id="txticon" style="width:100%" />
        </div>
        
    </div>
    <div id="div_certificate" style="width: 6000px;height: 6000px;opacity: 1;">
    <div id="div_png_certificate" style="width: 6000px;height: 6000px;">
    <div style="color:black;text-align: center;" id="div_icon">
     
  
    </div>
    </div>

    </div>

</div>
