@page
@model SignalR.Pages.userModel
@{
}

<script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<script type="text/javascript" src="js/user.js"></script>
<script type="text/javascript" src="js/public.js"></script>
<link href="~/css/user.css" rel="stylesheet" />


<div>
    <div style="text-align:left;margin: 10px 0px;"><a href="#" onclick="backhome()" style="background-color: #f73;padding: 10px;border-radius: 10px;color: white;"><i class="fas fa-home" aria-hidden="true"></i></a></div>
    <input type="hidden" value="" id="hdUsername" />
    <div class="div-user">

        <div class="div-field-caption"><div class="field-caption">Username:</div><span><input class="textbox" type="text" id="txt_username"></span></div>
        <div class="div-field-caption"><div class="field-caption">Password:</div><span><input class="textbox" type="text" id="txt_password"></span></div>
        <div>
        <table class="tbldate">
            
            <tr>
               
                <td>
                    <input type="checkbox" id="chkBetting" />
                    <label for="chkBetting">ភ្នាល់</label>
                </td>
                <td>
                    <input type="checkbox" id="chkWithdrawal" />
                    <label for="chkWithdrawal">ដកប្រាក់</label>
                </td>
                <td>
                    <input type="checkbox" id="chkReport" />
                     <label for="chkReport">របាយការណ៌</label>
                </td>
                <td>
                    <input type="checkbox" id="chkDisplay"​ style="display:none" />

                </td>
            </tr>
        </table>
        </div>
    </div>
    <div>
        <input type="button" class="button-add" value="Add new user" onclick="addnewuser()" />
    </div>
    <div class="userlist-title">បញ្ជីគណនី:</div>
    <div id="userlist">

    </div>
</div>